<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="UserInterface.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="RCFitness.Properties.Settings.RCFitnessConnectionString"
            connectionString="Data Source=PCH_SD-001\BORGES;Initial Catalog=RCFitness;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="UserInterface.Properties.Settings.RCFitnessConnectionString"
            connectionString="Data Source=PCH_SD-001\BORGES;Initial Catalog=RCFitness;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <UserInterface.Properties.Settings>
            <setting name="Email" serializeAs="String">
                <value>appacademiatcc@outlook.com</value>
            </setting>
            <setting name="Senha" serializeAs="String">
                <value>rcfitnesS</value>
            </setting>
            <setting name="btn_msgPersonalizada1" serializeAs="String">
                <value />
            </setting>
            <setting name="btn_msgPersonalizada2" serializeAs="String">
                <value />
            </setting>
            <setting name="btn_msgPersonalizada3" serializeAs="String">
                <value />
            </setting>
            <setting name="btn_msgPersonalizada4" serializeAs="String">
                <value />
            </setting>
            <setting name="btn_assuntoPersonalizado1" serializeAs="String">
                <value />
            </setting>
            <setting name="btn_assuntoPersonalizado2" serializeAs="String">
                <value />
            </setting>
            <setting name="btn_assuntoPersonalizado3" serializeAs="String">
                <value />
            </setting>
            <setting name="btn_assuntoPersonalizado4" serializeAs="String">
                <value />
            </setting>
        </UserInterface.Properties.Settings>
    </userSettings>
</configuration>